@mixin borda($larg, $tipo, $cor) {
    border-top: $larg $tipo $cor;
    border-right: $larg $tipo $cor;
    border-left: $larg $tipo $cor;
    border-bottom: $larg $tipo $cor;
}

body {
    background-color: white;
    color: black;
    height: 100%;
}

div {
    padding: 10%;
    line-height: 175%;
}

table {
    width: 100%;
    border-collapse: collapse;
    td {
        text-align: center;
        @include borda( 0.5px, solid, black);
    }
}
